@font-face {
  font-family: 'PlayfairDisplay';
  src: url("../playfair-display/PlayfairDisplay-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'PlayfairTitle';
  src: url("../playfair-display/PlayfairDisplaySC-Black.ttf");
}

@font-face {
  font-family: 'SourceSansPro';
  src: url("../source-sans-pro/SourceSansPro-Regular.otf") format("opentype");
}

body {
  margin: 0;
  background: #141516;
  overflow-x: hidden !important; 
}

h6, h5, h4, h3, h2, h1 {
  margin: 0;
  font-family: 'PlayfairTitle', 'Helvetica', 'Ariel';
  letter-spacing: 1px;
}

p {
  font-family: 'PlayfairDisplay', 'Helvetica', 'Ariel';
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
    font-weight: normal;
}

textarea {
  resize: none;
}

li {
  list-style-type: none;
}

.accent {
  color: #D8C496;
}

.lighter {
  font-weight: lighter;
}

.bold {
  font-weight: bold;
}

.filter {
  background: #202122;
  position: absolute;
  width: 40%;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
}

.filter h1 {
}


.template-here {
  height: 540px;
  background: #141516;
}

.body-container .left-container {
  width: 40%;
  height: 100vh;
  display: inline-block;
  background-size: cover;
  overflow: hidden;
  background: url('../images/dan-arms-2.jpg')no-repeat 49% center fixed;
  background-size: cover;
}

.body-container .left-container h1 {
  margin: 40px 40px 100px 40px;
  color: #FFFFFF;
  font-size: 52px;
  text-align: center;
}

.left-container img {
  height: 100%;
}

.left-container .logo {
  padding-top: 30px;
  height: 160px;
  width: 160px;
}

.body-container .left-content {
  height: 100vh;
  width: 100%;
  margin-top: 40px;
  text-align: center;
  color: #FFFFFF !important;
  overflow: hidden;
}

.body-text {
  font-family: 'PlayfairDisplay', 'Helvetica', 'Ariel';
  line-height: 37px;
  letter-spacing: 1px;
  font-size: 21px;
  text-align: left;
  margin: 40px 40px 100px;
}

.body-container .look-there {
  font-family: 'PlayfairTitle', 'Helvetica', 'Ariel';
  font-size: 17px;
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
  color: #FFFFFF;
  background: linear-gradient(to right, #141516 50%, #1C1C1D 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  height: 50px;
  box-sizing: border-box;
  -webkit-transition: all 240ms ease-in;
  -moz-transition: all 240ms ease-in;
  -o-transition: all 240ms ease-in;
  transition: all 240ms ease-in;
  padding-top: 14px;
}

.look-there:hover {
  background-position:left bottom;
  color: #D8C496;
}

.body-container .right-container {
  width: 60%;
  height: 100vh;
  display: inline-block;
  background-size: cover;
  float: right;
  text-align: left;
  color: #838B91;
}

.right-content {
  margin: 40px;
  vertical-align: top;
  margin: 86px 100px 0px 100px;
}

.right-content img {
  height: 200px;
  width: 200px;
}

.body-container .right-content p {
  line-height: 37px;
  letter-spacing: 1px;
  font-size: 21px;
}

.right-content .social-ul {
  margin-top: 68px;
  padding-left: 0;
  text-align: center;
  font-size: 12px;
  letter-spacing: 1px;
}

.right-content .social-ul li {
  display: inline-block;
  margin-right: 30px;
}

.close-x {
  display: none;
  font-family: 'SourceSansPro', 'Helvetica', 'Ariel';
  padding: 40px;
  cursor: pointer;
}

.contact-form {
  position: absolute;
  width: 60%;
  color: #838B91;
  background: #141516;
  font-family: 'SourceSansPro', 'Helvetica', 'Ariel';
  display: none;
  top: 0;
  bottom: 0;
  height: 100%;
  right: 0;
/*  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;*/
}

.display-none {
  height: 0;
}

.dont-display {
  display: none;
}

.slide-toggle {
  /*display: block;*/
  -webkit-transition: right 500ms ease;
  -moz-transition: right 500ms ease;
  -o-transition: right 500ms ease;
  transition: right 500ms ease;
  right: 0 !important;
  /*visibility: visible;*/
}

.contact-us-list {
  width: 80%;
  text-align: left;
  /*height: 100%;*/
  margin-top: 60px;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}

.contact-us-list li {
  padding-bottom: 20px;
  text-align: left;
}

.contact-us-list li input {
  width: 90%;
  height: 45px;
  padding: 0 15px;
}

.contact-us-list li textarea {
  width: 90%;
  height: 300px;
  padding: 15px 15px;
}

.contact-us-list li label {
  vertical-align: top;
  text-align: left;
  display: block;
  padding-bottom: 15px;
}

#submit-message {
  font-family: 'SourceSansPro-Regular', 'Helvetica', 'Ariel';
  font-size: 18px;
  border: 1px solid #D8C496;
  width: 200px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 10px;
  color: #D8C496;
  background: none;
  cursor: pointer;
}

/*___________________________________________*/

/*submitted-template*/

.submitted-container {
  width: 70%;
  margin: 80px auto 0;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.submitted-container h1 {
  text-align: center;
  font-size: 52px;
  color: #D8C496;
  padding-top: 30px;
  padding-bottom: 60px;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.submitted-container p {
  font-size: 24px;
  padding-bottom: 20px;
  -webkit-transition: all 700ms ease;
  -moz-transition: all 700ms ease;
  -o-transition: all 700ms ease;
  transition: all 700ms ease;
}

.submitted-container ul {
  padding: 0;
}

.submitted-container li {
  display: inline-block;
  padding: 0 10px;
}

/*___________________________________________*/

@media all and (max-device-width: 1085px) {
    .left-content h1 {
      font-size: 36px;
    }

    .right-content {
      margin: 60px 100px 0px 100px;
    }

    .right-content p {
      font-size: 17px;
    }
}

@media all and (min-device-width: 900px) and (max-device-width: 1085px) and (-webkit-min-device-pixel-ratio: 1) { 
    .left-content h1 {
      font-size: 36px;
    }

    .right-content {
      margin: 60px 100px 0px 100px;
    }

    .right-content p {
      font-size: 17px;
    }
}